<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orcid princeton</title>
    <%= favicon_tag %>
    <%= stylesheet_tag "app" %>
  </head>
  <body>
    <div id="lux">
      <div>
        <% if current_user %>

          <lux-library-header app-name="ORCID@Princeton" abbr-name="ORCID@Princeton" theme="dark">
            <lux-menu-bar type="main-menu" :menu-items="[
              {name: 'Home', component: 'Home', href: '/health'},
                {name: '<%= current_user.display_name %>', component: 'Account', href: '/account/', children: [
                  {name: 'Profile', component: 'Feedback', href: '/user/current_user'},
                  {name: 'Logout', component: 'Logout', href: '/logout '}
                ]}
              ]"
            ></lux-menu-bar>
          </lux-library-header>
        <% else %>
          <lux-library-header app-name="ORCID@Princeton" abbr-name="ORCID@Princeton" theme="dark">
            <lux-menu-bar type="main-menu" :menu-items="[ {name: 'Login', component: 'Login', href: '<%= routes.path(:user_login) %>'}]"></lux-menu-bar>
          </lux-library-header>
        <% end %>
      </div>
    
      <%= yield %>
      <div>
        <lux-library-footer></lux-library-footer>
      </div>
    </div>

    <%= javascript_tag "app" %>
  </body>
</html>
